.icon{
margin-top:5px;
float:left;
height:50px;
width:60px;
}
.bg{
height:700px;
width:100%;
position:absolute;
z-index:-2;
}
body{
background-image: linear-gradient(0deg,#161d4b, #f282ba);
margin:0px;
height:1000px;
margin-top:63px;
}
nav{
padding-left:10px;
left:0px;
position:fixed;
top:0px;
width:100%;
background-color:#1c0021;
z-index:100;
}
nav ul{
list-style:none;
display:flex;
justify-content:center;
}
.i_a{
display:inline-block;


}
nav ul a{
margin-left:30px;
color:white;
text-decoration:none;
font-family:'poppins',sans-serif;
font-weight:600;
font-size:26px;
display:block;
transition:.4s;
}
nav ul a:hover{
color:#c24b8f;
letter-spacing:3px;
}
.hello{
position:relative;
font-size:150px;
color:white;
font-weight:700;
font-family:arial;
transition:.4s;
}
.hello:hover{
-webkit-text-stroke:5px white;
letter-spacing:15px;
color:transparent;
}
.cont{
height:700px;
display:flex;
justify-content:center;
align-items:center;
}
.grid{
height:auto;
display:flex;
padding:30px;
justify-content: center;
flex-wrap:wrap;

}
h2{
margin-top:5px;
text-align:center;
margin-bottom:0px;
font-family:arial;
}
p{margin:0px;
font-family:arial;
}
.box{
border: 3px solid #736868;
border-radius:20px;
background-color: #e0c9c9;
margin:20px;
padding:5px;
height:200px;
width:500px;
transition:500ms;
}
.box:hover{
box-shadow:10px 10px 10px #060606;
transform:scale(1.05);
}
footer{
display:flex;
bottom:0px;
padding:15px;
background-color:#1c0021;
color:white;
text-align:center;
font-family:arial;
}
.secHed{
text-align:center:
font-family:arial;
font-size:56px;
color:white;

}
.pdf{
aspect-ratio: 3/4;
view:100%;
width:70%;
pagemode:bookmarks;
}
.cont_pdf{
display:flex;
justify-content:center;
width:100%;
height:auto;
}
.gallery{
display:flex;
flex-wrap:wrap;
width:100%;
justify-content:center;
}
._img{
margin:20px;
margin-bottom:50px;
height:250px;
aspect-ratio:1/1;
filter:blur(5px);
transition:500ms;
}
._img:hover{
box-shadow: 10px 20px 20px 10px #1d1a1a;
border: 3px solid white;
border-radius:10px;
transform:scale(1.1);
filter:none;
aspect-ratio:auto;
}

